#conversionH h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: red;
    padding: 10px 15px;
}
#conversionH {
    background-color: hsla(0, 3%, 66%, 0.37);
}